<!DOCTYPE html>
<html lang="es">
<head>
    <title>Area administrador</title>
</head>
<body>

<h1>Área de administrador</h1>

<a href="">Identifícate</a>
<button>inicio</button>
<button>locales</button>
<button>apuestas</button>
<button>contacto</button>

<h2>Correo</h2>
<ul>
    <li><a href="">Mensaje 1</a></li>
    <li><a href="">Mensaje 2</a></li>
    <li><a href="">Mensaje 3</a></li>
</ul>

<h2>Gestionar locales</h2>
<button>Nuevo local</button>
<ul>

    <li><a href="">Local 1</a> <button>Editar</button> <button>Eliminar</button></li><br>
    <li><a href="">Local 2</a> <button>Editar</button> <button>Eliminar</button></li>

</ul>

<p>© Carel Sánchez, 2022</p>
</body>

</html>