<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Quidditch Bets</title>
	</head>
	<body>

	<h1>Local 1</h1>
	
	<a href="">nombre_usuario</a>
	<button>inicio</button>
	<button>locales</button>
	<button>apuestas</button>
	<button>contacto</button>

	<h2>Ubicacion</h2>
	<p>(Introducir mapa aqui)<p>

	<h2>Proximos partidos</h2><!--Aparece un despegable con el monto y la apuesta-->
	<form>
		Cuantia <input type="number"><br><br>
		A vs B <button type="submit">Equipo A</button> <button type="submit">Empate</button> <button type="submit">Equipo B</button><br><br>
		C vs D <button type="submit">Equipo C</button> <button type="submit">Empate</button> <button type="submit">Equipo D</button><br><br>
		E vs F <button type="submit">Equipo E</button> <button type="submit">Empate</button> <button type="submit">Equipo F</button><br><br>
	</form>

	<p>© Carel Sánchez, 2022</p>
	</body>

</html>