<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Quidditch Bets</title>
	</head>
	<body>

	<h1>Local 1</h1>
	
	<a href="">nombre_usuario</a>
	<button>inicio</button>
	<button>locales</button>
	<button>apuestas</button>

	<h2>Ubicacion</h2>
	<p>(Introducir mapa aqui)<p>

	<h2>Proximos partidos</h2><!--Aparece un despegable con el monto y la apuesta-->
	<form>
		Cuantia <input type="number"><br><br>
		A vs B <button type="submit">Equipo A (5x)</button> <button type="submit">Empate (2x)</button> <button type="submit">Equipo B(1x)</button><br><br>
		C vs D <button type="submit">Equipo C (5x)</button> <button type="submit">Empate (2x)</button> <button type="submit">Equipo D (1x)</button><br><br>
		E vs F <button type="submit">Equipo E (5x)</button> <button type="submit">Empate (2x)</button> <button type="submit">Equipo F (1x)</button><br><br>
	</form>

	<p>© Carel Sánchez, 2022</p>
	<script src="/static/assets/js/jquery.min.js"></script>
	<script src="/static/assets/js/navbar.js"></script>
	</body>

</html>