<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
  <table>
    <tr>
      <th>Usuario</th>
      <th>Partido</th>
      <th>Prediccion</th>
      <th>Monto</th>
    </tr>
    <tr>
      <td>Fulano</td>
      <td>A vs B</td>
      <td>Equipo A</td>
      <td>123,00€</td>
      <td><button>Retirar</button><td>
    </tr>
    <tr>
      <td>Fulano</td>
      <td>C vs D</td>
      <td>Equipo C</td>
      <td>123,00€</td>
      <td><button>Retirar</button><td>
    </tr>
  </table>
  </body>
</html>