<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Quidditch</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Dark-NavBar.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/table.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body>
    <div id="navbar"></div>
    <div class="container" style="width: 100%;margin-top: 16px;margin-bottom: 16px;">
        <div class="row">
            <div class="col-md-6" style="width:30%">
                <div class="text-center border rounded-0 shadow-sm profile-box" style="width: 100%;height: 301px;background: var(--bs-gray-900);padding: 16px;">
                    <div><img class="rounded-circle" src="assets/img/bg-cta.jpg" width="60px" height="60px" style="background-color: rgb(255,255,255);padding: 2px;"></div>
                    <div style="height: 40px;margin-bottom: 108px;">
                        <h4>Profile Name</h4>
                        <p style="font-size: 12px;"><br><br><span style="background-color: rgba(33, 37, 41, 0);">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin leo et ligula elementum, id tincidunt ante</span><span style="color: rgb(0, 0, 0);"> </span><strong><span style="background-color: rgba(255, 255, 255, 0);">maximus. Lorem augue.</span></strong><br><br></p>
                    </div>
                    <div><a class="btn btn-light fs-5 py-1 px-3" role="button" href="#" style="margin-bottom: 8px;background-color: var(--bs-gray);color: #ffffff;margin-top: 8px;margin-right: 8px;">Ajustes</a><a class="btn btn-light fs-5 py-1 px-3" role="button" href="#" style="background-color: var(--bs-gray);color: #ffffff;">Editar tu local</a></div>
                </div>
            </div>
            <div class="col-md-6" style="width: 70%;">
                <div class="card" style="background-color: #222222;margin-bottom: 16px;">
                    <div class="card-body">
                        <h2 class="card-title" style="margin-bottom: 8px;">Apuestas realizadas</h2>
                        <div class="table-responsive" style="color: #ffffff;background-color: var(--bs-gray);">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Column 1</th>
                                        <th>Column 2</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Cell 1</td>
                                        <td>Cell 2</td>
                                    </tr>
                                    <tr>
                                        <td>Cell 3</td>
                                        <td>Cell 4</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card" style="background-color: #222222;margin-bottom: 16px;">
                    <div class="card-body">
                        <h1 class="card-title" style="margin-bottom: 8px;">Estadísticas</h1>
                        <div class="progress yellow"><span class="progress-left"><span class="progress-bar">Text</span></span><span class="progress-right"><span class="progress-value">37.5%</span></span></div>
                        <div class="col text-start" style="width: 70%;">
                            <ul class="text-start">
                                <li>Victorias:</li>
                                <li>Pérdidas:</li>
                                <li>Ganancias:</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card" style="background-color: #222222;">
                    <div class="card-body">
                        <h4 class="card-title" style="margin-bottom: 8px;">Gestionar partidos</h4>
                        <div class="table-responsive" style="color: #ffffff;background-color: var(--bs-gray);">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Column 1</th>
                                        <th>Column 2</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Cell 1</td>
                                        <td>Cell 2</td>
                                    </tr>
                                    <tr>
                                        <td>Cell 3</td>
                                        <td>Cell 4</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer"></div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="assets/js/nav-foot.js"></script>
</body>

</html>