<!DOCTYP€ html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Quidditch Bets</title>
	</head>
	<body>

	<h1>Área de usuario</h1>

	<div id="navbar"></div>

	<p><b>Equipo favorito:</b> Equipo A <a href=""> (cambiar)</a><p> 
	<p><b>Local adscrito:</b> Local 1 <a href=""> (cambiar local)</a><p> 
	<p><b>Saldo:</b>123 €<a href=""> (despositar)</a><p>
		<button>Ajustes</button>
	<h2>Tus apuestas</h2>
	<ul>
	<li><a href="">A vs B</a> -> A: 5 € (1.40x)</li>
	</ul>
	<h2>Estadisticas</h2>
	<p><b>Ganadas:</b> 20 (+40 €) </p>
	<p><b>Perdidas:</b> 10 (-10 €) </p>
	<p><b>Tasa de victorias:</b> 50%</p>
	

	<p>© Carel Sánchez, 2022</p>
	<script src="/static/assets/js/jquery.min.js"></script>
	<script src="/static/assets/js/navbar.js"></script>
	</body>

</html>